<div class="container text-center">
  <h2 class="p-4"> <%= @user.first_name %> <%= @user.last_name %> </h2>

  <%if @user.avatar.attached?%>
      <%= image_tag @user.avatar, alt: 'avatar' %>
  <%else%>
      <p>=== No profile picture ===</p>
  <%end%>

  <p><b>Email:</b> <%= @user.email %></p>
  <p class="p-3"><b>Description:</b> <%= @user.description %></p>


  <%= link_to "Edit your email and password", edit_user_registration_path, class: "btn btn-warning mx-2 my-2 " %>
  <%= link_to "Edit your personal informations", edit_user_path(current_user), class: "btn btn-warning mx-2 my-2" %>
  <br>

  <h5 class="p-4"> You created the following events:</h5>

  <% if current_user.admin_events.count > 0 %>

    <div class="container">
      <div class="row">
        <% @admin_events.each do |event| %>
          <div class="col-md-4">
            <h2><%= event.title %></h2>
            <p><%= truncate(event.description, length: 250) %> </p>
            <p><a class="btn btn-secondary" href="#" role="button">Check it out &raquo;</a></p>
          </div>
        <% end %>
      </div>
    </div>

  <% else %>

    <p>No event</p>
  
  <% end %>

  <hr>

</div>