<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br>

        <% if @event.errors.any? %>
            <% @event.errors.full_messages.each do |message| %>
              <div class="alert alert-danger" role="alert">
                <%= message %>
              </div>
            <% end %>
        <% end %>
    
        <%= form_for @event, multipart: true do |f| %>
          <h1 class="h3 mb-1 font-weight-normal text-center">Edit your event</h1>
          <br>

        <div class="form-group">
          <%= f.label :start_date %>
          <%= f.datetime_field :start_date, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :duration %>
          <%= f.text_field :duration, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :price %>
          <%= f.text_field :price, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :location %><br />
          <%= f.text_field :location, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.file_field :picture, direct_upload: true, class: "form-control" %>
        </div>
        <div class="actions mt-1">
          <%= f.submit "Update", class: "btn btn-primary " %>
          <%= link_to "Delete event", event_path(@event), :class => "btn btn-outline-danger m-4", :method => 'DELETE', :data => {:confirm => 'Are you absolutely sure?'} %>
        </div>
        <% end %>
        
    </div>
  </div>
</div>