<div class="container text-center">
  <h2 class="p-4"> <%= @event.title %> </h2>

  <p><b>Organized by:</b> <%=  %></p>
  <p class="p-3"><b>Description:</b> <%= @event.description %></p>
  <p class="p-3"><b>Price:</b> <%= @event.price %></p>
  <p class="p-3"><b>Location:</b> <%= @event.location %></p>

</div>