<div class="container text-center">
  <h2 class="p-4"> <%= @event.title %> </h2>

  <p class="p-2"><b>Organized by:</b> <%= @event.event_admin.email  %></p>
  <p class="p-2"><b>Start date and time:</b> <%= @event.start_date  %></p>
  <p class="p-2"><b>End date and time:</b> <%= @end_date_time  %></p>
  <p class="p-2"><b>Location:</b> <%= @event.location %></p>
  <p class="p-2"><b>Price:</b> <%= @event.price %> €</p>
  <p class="p-2"><b>Number of participants:</b> <%=  %></p>
  <p class="p-2"><b>Description:</b> <%= @event.description %></p>

</div>